/*! Droid drawn 100% in CSS | MIT license | http://git.io/droid */

/*
 * Set up
 */
 
/* Set base proporites */
body {
  padding: 5%;
  margin: 0;
}

/* Set droid color */
.antenna,
.head,
.body,
.arm,
.leg {
  background-color: #9c0; /* Change to #690 for dark variant */
}

/* Inline wrapper for droid things */
.inline > div {display: inline-block !important;}

/*
 * Things
 */

/* Antennas */
.antenna {
  width: 10px;
  height: 80px;
  margin-bottom: -50px;
  border-radius: 5px;
}

.antenna:first-child {
  margin-right: 100px;
   margin-left: 90px;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}

.antenna:last-child {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

/* Head */
.head {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 50px;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

/* Body */
.body {
  width: 200px;
  height: 200px;
  margin-bottom: -4px; /* Fix for block dividing */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Arms */
.arm {
  width: 40px;
  height: 150px;
  margin-bottom: 46px;
  border-radius: 20px;
}

.arm:first-child {margin-right: 6px;}
.arm:last-child  {margin-left: 6px;}

/* Legs */
.leg {
  width: 50px;
  height: 60px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.leg:first-child {
  margin-right: 25px;
  margin-left: 86px;
}