/*! Droid drawn 100% in CSS | MIT License | http://git.io/droid */

/*
 * Set up
 */

/* Set container properties */
.droid {
  padding: 2%;
}

/* Set base color */
.droid-antenna,
.droid-head,
.droid-torso,
.droid-arm,
.droid-leg {
  background-color: #9c0; /* Change to #690 for dark variant */
}

/* Inline wrapper for droid parts */
.droid-inline > div {display: inline-block;}

/*
 * Droid parts
 */

/* Antennas */
.droid-antenna {
  width: 10px;
  height: 75px;
  margin-bottom: -50px;
  border-radius: 5px;
}

.droid-antenna:first-child {
  margin-right: 105px;
  margin-left: 85px;
  -webkit-transform: rotate(325deg);
          transform: rotate(325deg);
}

.droid-antenna:last-child {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

/* Head */
.droid-head {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 50px;
  border-radius: 90px 90px 0 0;
}

/* Torso */
.droid-torso {
  width: 200px;
  height: 200px;
  margin-bottom: -4px; /* Remove redundant gap */
  border-radius: 0 0 20px 20px;
}

/* Arms */
.droid-arm {
  width: 40px;
  height: 145px;
  margin-bottom: 51px;
  border-radius: 20px;
}

.droid-arm:first-child {margin-right: 6px;}
.droid-arm:last-child  {margin-left: 6px;}

/* Legs */
.droid-leg {
  width: 45px;
  height: 65px;
  border-radius: 0 0 22.5px 22.5px;
}

.droid-leg:first-child {
  margin-right: 25px;
  margin-left: 91px;
}